body {
  margin: 0;
  font-family: "Corben", cursive, "Lato", sans-serif, "Merriweather", serif,
    "Mulish", sans-serif, "Space Grotesk", sans-serif;
  background-color: #f7f5ed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
